<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Disappearing Ninja | Ninjas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Trying to make these pages responsive using bootstrap from now on.  Might as well get used to using it! -->
	<div class="container-fluid" id="wrapper">
		<div class="jubotron text-center">
			<h1>Teenage Mutant Ninja Turtles</h1>
		</div>
		{% if show == 'all' %}
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">Donatello</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/donatello.jpg') }}" alt="Donatello">
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">Leonardo</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/leonardo.jpg') }}" alt="Leonardo">
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				<p class="text-center">Michaelangelo</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/michelangelo.jpg') }}" alt="Michaelangelo">
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">Raphael</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/raphael.jpg') }}" alt="Raphael">
			</div>
		</div>
		{% elif show == 'red' %}
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">Raphael</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/raphael.jpg') }}" alt="Raphael">
			</div>
		</div>
		{% elif show == 'purple' %}
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">Donatello</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/donatello.jpg') }}" alt="Donatello">
			</div>
		</div>
		{% elif show == 'blue' %}
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">Leonardo</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/leonardo.jpg') }}" alt="Leonardo">
			</div>
		</div>
		{% elif show == 'orange' %}
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">Michaelangelo</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/michelangelo.jpg') }}" alt="Michaelangelo">
			</div>
		</div>
		{% else %}
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-center">April O'Neil</p>
				<img class="img-responsive center-block" src="{{ url_for('static', filename='img/notapril.jpg') }}" alt="April">
			</div>
		</div>
		{% endif %}
	</div>
</body>
</html>