* {
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 100%;
	padding: 3em 0 2.5em 47em;
}
form {
	display: inline-block;
}
h1{
	font-size: 2.5em;
	margin-bottom: 0.8em;
}

input {
	margin-bottom: 0.8em;
}

button {
	display: inline-block;
	width: 9em;
	height: 2em;
	background-color: #FFF;
	border-radius: 0.4em;
}
.red {
	color: red;
}
.green {
	color: green;
}