* {
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 100%;
}
form {
	display: inline-block;
}
h1{
	font-size: 2.5em;
	margin-bottom: 0.8em;
}

input {
	margin-right: 1em;
}

button {
	display: inline-block;
	width: 9em;
	height: 2em;
	background-color: #FFF;
	border-radius: 0.4em;
}
.red {
	color: #ff0000;
}
.green {
	color: #00ee00;
}
	.red,.green {
		font-weight: bolder;
	}