<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Great Number Game</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div id="wrapper">
		<h1>Welcome to the Great Number Game!</h1>
		<p>I am thinking of a number between 1 and 100.</p>
		<p>Take a guess!</p>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class=flashes>
		    	{% for category, message in messages %}
		    		{% if category == 'error' %}
		    			<div class="answer_flash" id="incorrect">
		     				<p>{{ message }}</p>
		     			</div>
		     		{% elif category == 'success' %}
		     			<div class="answer_flash" id="correct">
		     				<p>{{ message }}</p>
		     				<form action='/reset' id="reset">
		     					<button type="submit" id="submit">Replay!</button>
		     				</form>
		     			</div>
		     		{% endif %}
		   		{% endfor %}
		    	</ul>
		  	{% endif %}
		{% endwith %}
		
		<form action="/get_number" method="post">
			<input type="number" name="number_input">
			<button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>