<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Success</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Trying to make these pages responsive using bootstrap from now on.  -->
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{% with messages = get_flashed_messages(with_categories=true) %}
				    {% if messages %}
				    	<ul class=flashes>
					      	{% for category, message in messages %}
					     		{% if category == 'success' %}
					     			<p class="green">{{ message }}</p>
					     		{% endif %}
					      	{% endfor %}
				      	</ul>
				    {% endif %}
				{% endwith %}
				<form action="/back" method="POST">
					<button>Go Back</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>