<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>The Wall | Hi {{ user['first_name'] }}!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Trying to make these pages responsive using bootstrap from now on.  -->
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<nav>
					<h3 id="brand">The Wall</h3>
					<h3>Welcome back, {{ user['first_name'] }}</h3>
					<form action="/log_off" method="POST">
						<button>Log Off</button>
					</form>
				</nav>
				<div class="row">
					<div id="message">
						<h4>Post a message:</h4>
						{% with messages = get_flashed_messages(with_categories=true) %}
						    {% if messages %}
						    	<ul class=flashes>
							      	{% for category, message in messages %}
							        	{% if category == 'error' %}
							     			<p class="red">{{ message }}</p>
							     		{% elif category == 'success' %}
							     			<p class="green">{{ message }}</p>
							     		{% endif %}
							      	{% endfor %}
						      	</ul>
						    {% endif %}
						{% endwith %}
						<form action="/add_message/{{ user['id'] }}" method="POST">
							<textarea name="message"></textarea><br>
							<button>Post Message</button>
						</form>
					</div>
					<div id="comments">
						{% if messages %}
							{% for message in messages %}
								<h4>{{ message['name_date'] }}</h4>
								<p>{{ message['message'] }}</p>
								{% if comments %}
									{% for comment in comments %}
										{% if message['id'] == comment['message_id'] %}
											<h4>{{ comment['name_date'] }}</h4>
											<p>{{ comment['comment'] }}</p>
										{% endif %}
									{% endfor %}
								{% endif %}
								<h3>Post a Comment</h3>
								<form action="/add_comment/{{ message['id'] }}/{{ user['id'] }}" method="POST">
									<textarea name="comment" id="{{ message['id'] }}"></textarea><br>
									<button>Post Comment</button>			
								</form>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>