h1 {
	color: blue;
	font-size: 2em;
	margin: 2em 0;
}
h1, p, #nav {
	text-align: center;
}
p {
	margin-bottom: 2em;
}

input {
	margin: 1em 0;
}

form{
	margin-top: 10em;
	text-align: center;
}

}
#nav a {
	text-decoration: none;
}